.main-page {
  margin-top: 70px;
}

.left-card {
  max-width: 350px;

  .social-item {
    &:hover {
      cursor: pointer;
    }

    a {
      color: #6c757d;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

button {
  background-color: #a0eeff;
}

#button-addon2 {
  color: #535658;
  border-color: #6c757d;
  background-color: #a0eeff;
  width: 150px;
  height: 50px;

  &:hover {
    background-color: #2ad8ff;
  }
}

.popular-news {
  margin-top: 60px;
}

.left-card img {
  width: 20px;
}

.popular-news img {
  height: 250;
  object-fit: cover;
}

.popular-news-card {
  margin-right: 5px;
  padding: 0;

  button {
    background-color: #a0eeff;
    border-color: #6c757d;
    color: #535658;

    &:hover {
      background-color: #2ad8ff;
      border-color: #6c757d;
    }
  }
}



