.main-page {
  margin-top: 70px;
}

.left-card {
  max-width: 350px;
}

button {
  background-color: #A0EEFF;
}

#button-addon2 {
  color: #6c757d;
  border-color: #6c757d;
  background-color: #A0EEFF; 
  width: 150px;
  height: 50px;
}

.popular-news {
  margin-top: 60px;
}

.left-card img {
  width: 20px;
}

button:hover {
  color: #6c757d;
  opacity: 0.9;
}