.post {
  margin-top: 20px;
}

.icon {
  position: absolute;
  width: 50px;
  top: 5px;
  right: 5px;
}

.user-login {
  color: #6c757d;
  font-size: 1rem;
  font-weight: 450;
}
// .icon {
//   position: absolute;
// }
