.rec-page-container {
  margin-top: 20px;
}
.feed {
  height: 100%;
  border-left: 1px solid #6c757d41;
  border-right: 1px solid #6c757d41;
}

.rec-header {
  text-align: center;
}

.news-title {
  width: 304px;
  position: fixed;
}

.from-users img {
  width: 20px;
}